<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xmh.web.blogserver.mapper.ArticleTagsMapper">

    <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"/>

    <insert id="insertArticleTags">
        insert into article_tags (article_id, tag_id) values (#{article_id},#{tag_id})
    </insert>

    <update id="updateArticleTags">
        update article_tags set tag_id=#{tag_id} where article_id=#{article_id}
    </update>

    <delete id="deleteByArticleId">
        delete from article_tags where article_id=#{article_id}
    </delete>

    <delete id="deleteByTagId">
        delete from article_tags where tag_id=#{tag_id}
    </delete>

    <select id="getTagsByArticleId" resultType="cn.xmh.web.blogserver.model.Tags">
        select tags.tag_id,tag_name,tag_type from tags,article_tags
        where tags.tag_id=article_tags.tag_id and article_id=#{article_id}
    </select>
</mapper>