<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xmh.web.blogserver.mapper.RoleMapper">

    <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"/>

    <insert id="insertRole">
        insert into role (role_id,role_name) values (#{role_id},#{role_name})
    </insert>

    <select id="getRoleByUserId" resultType="cn.xmh.web.blogserver.model.Role">
        select * from role r
        left join role_user ru on r.role_id=ru.role_id
        where user_id=#{user_id}
    </select>
</mapper>