<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xmh.web.blogserver.mapper.UserMapper">

    <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"/>

    <resultMap id="BaseResultMap" type="cn.xmh.web.blogserver.model.User">
        <id column="user_id" property="userId"></id>
        <result column="user_face" property="userFace"></result>
        <result column="nickname" property="nickName"></result>
        <result column="username" property="userName"></result>
        <result column="password" property="password"></result>
        <result column="email" property="email"></result>
        <result column="enabled" property="enabled"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
    </resultMap>

    <insert id="insertUser">
        insert into user (user_face, username, nickname,password, email,create_time,update_time)
        values (#{userFace},#{userName},#{nickName},#{password},#{email},#{createTime},#{updateTime})
    </insert>

    <update id="updateUserState">
        update user set enabled=#{userState} where user_id=#{userId}
    </update>

    <update id="updateByUserId">
        update user set user_face=#{user.userFace},nickname=#{user.nickName},username=#{user.userName},
        email=#{user.email}, update_time=#{user.updateTime} where user_id=#{userId}
    </update>

    <update id="resetPassword">
        update user set password=#{password} where user_id=#{userId}
    </update>

    <delete id="deleteByUserId">
        delete from user where user_id=#{userId}
    </delete>

    <select id="getUserByUserName" resultMap="BaseResultMap">
        SELECT * from user
        where username=#{userName}
    </select>

    <select id="getAllUser" resultMap="BaseResultMap">
        SELECT * from user
    </select>

</mapper>